*{
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
}

body {
    -webkit-transform: scale(0.85, 0.85); /* Safari */
    margin: 5px auto;
    width: 100%;
    background-color: rgb(8,38,40);
    text-align: center;
}

.floater {
	margin-top: 20px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
	width: 300px;
  background-color: whitesmoke;
}

#content {
    margin-top: 0px;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

th a {
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}

#main-table {
  margin-top: 0;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
}

.inner-table {
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    -webkit-perspective: 800px;
    perspective: 800;
}

#card {
    margin: auto;
    min-width: 315px;
    width: 315px;
    height: 450px;
    position: relative;
    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transition: 1s;
    -webkit-transition: 1s; /* Safari */
}

#card figure {
    margin: auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#card figure.front {
    margin: auto;
    background-repeat: no-repeat;
    
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
}

#card figure.back {
    margin: auto;
    background-image: url('../images/cardBack.png');
    background-repeat: no-repeat;
}

#card.flipped {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    transform: rotateY(180deg) scale(1.35);
    -ms-transform: rotateY(180deg) scale(1.35); /* IE 9 */
    -webkit-transform: rotateY(180deg) scale(1.35); /* Chrome, Safari, Opera */
    
    transform-origin: center 40px;
    -ms-transform-origin: center -40px; /* IE 9 */
    -webkit-transform-origin: center 110px; /* Chrome, Safari, Opera */
}

.ring-container {
    width: 175px;
    height: 450px;
    text-align: center;
    position: relative;
}

.ring table {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ring-table td {
    min-width: 175px;
    width: 20%;
    height: 100%;
    font-family: magic;
    font-size: 22px;
    font-weight: bold;
    color: whitesmoke;
}

@font-face {
    font-family: magic;
    src: url('../resources/MAGIC.ttf');
}

.magic18 {
    font-family: magic;
    font-size: 18px;
    color: black;
}

.inner-table td {
    font-family: magic;
    font-size: 18px;
    color: white;
}

#word {
    pointer-events: none;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
    top: 238px;
    left: 25px;
}

#description {
    pointer-events: none;
    width: 265px;
    height: 200px;
    vertical-align: middle;
    position: relative;
    text-align: left;
    top: 235px;
    left: 25px;
}

.buttons {
    width: 130px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-family: magic;
    font-size: 30px;
    color: white;
    background-color: whitesmoke;
    background-image: url('../images/buttons.jpg');
    padding: 2px;
}

.spun {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s; /* Safari */
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg); /* IE 9 */
    -webkit-transform: rotateX(360deg); /* Chrome, Safari, Opera */
}

.health-column {
    min-width: 140px;
    width: 140px;
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
}

.health-column img {
    font-family: magic;
    font-size: 28px;
    color: white;
}
